extends layout
block content
  .content-wrapper
    section.content-header
      h1
        | 多媒体管理
        small
          a.btn.btn-sm.btn-flat.btn-block(href='')  添加新文件
      ol.breadcrumb
        li
          a(href='/dashboard/home')
            i.fa.fa-dashboard
            |  首页
        li.active 多媒体管理
    section.content
      .row
        .col-xs-12.col-md-6
          .box
            .box-header
              h3.box-title 图片列表
            .box-body
              table#images.table.table-bordered.table-hover
                thead
                  tr


        .col-xs-12.col-md-6
          .box
            .box-header
              h3.box-title 视频管理
            .box-body