extends layout
block css-external
  link(rel='stylesheet', href='/dashboard/css/intro.css')
block content
  .content-wrapper
    section.content-header
      h1
        | 多媒体管理
        small  添加 & 修改
      ol.breadcrumb
        li
          a(href='/dashboard/home')
            i.fa.fa-dashboard
            |  首页
        li.active 多媒体管理
    section.content
      .row
        .col-xs-12.col-md-6
          .box
            .box-header
              h3.box-title 图片列表
              a.pull-right.btn-box-tool(href='')
                  i.fa.fa-plus
            .box-body
              .row.margin-bottom
                - for (var i = 0; i < images.length; i++)
                  .col-sm-4.col-xs-6
                    .hover-content
                      img.img-responsive(src='#{images[i]}')
                      .overlay
                        a.btn.btn-secondary.zoom(href='#{images[i]}')
                          i.fa.fa-image

        .col-xs-12.col-md-6
          .box
            .box-header
              h3.box-title 视频管理
            .box-body