extends layout
block css-external
  link(rel='stylesheet', href='/plugins/select2/select2.min.css')
  link(rel='stylesheet', href='/plugins/summernote/summernote.css')

block content
  .content-wrapper
    section.content-header
      h1
        | 产品详情
        small 添加 & 修改
      ol.breadcrumb
        li
          a(href='/dashboard')
            i.fa.fa-dashboard
            | 首页
        li
          a(href='/dashboard/products/transfer') 转让产品
        li.active 产品详情
    section.content
      .row
        .col-xs-12
          .box.box-info
            form#form-transfer.form-horizontal
              .box-body
                .form-group
                  label.col-sm-2.control-label(for='inputName') 名称
                  .col-sm-10
                    input#inputName.form-control(type='text', placeholder='请输入产品名称')
                .form-group
                  label.col-sm-2.control-label(for='inputAbstract') 简介(仅用于列表页面)
                  .col-sm-10
                    input#inputAbstract.form-control(type='text', placeholder='请输入简介')
                .form-group
                  label.col-sm-2.control-label(for='inputRegistrationClass') 注册分类
                  .col-sm-10
                    input#inputRegistrationClass.form-control(type='text', placeholder='请输入注册分类')
                .form-group
                  label.col-sm-2.control-label(for='inputIndication') 适用症
                  .col-sm-10
                    input#inputIndication.form-control(type='text', placeholder='请输入适用症')
                .form-group
                  label.col-sm-2.control-label(for='inputSpecification') 剂型及规格
                  .col-sm-10
                    input#inputSpecification.form-control(type='text', placeholder='请输入剂型及规格')
                .form-group
                  label.col-sm-2.control-label(for='inputAdvantage') 项目优势
                  .col-sm-10
                    input#inputAdvantage.form-control(type='text', placeholder='请输入项目优势')
                .form-group
                  label.col-sm-2.control-label(for='inputTransferTarget') 转让标的
                  .col-sm-10
                    input#inputTransferTarget.form-control(type='text', placeholder='请输入转让标的')
                .form-group
                  label.col-sm-2.control-label(for='inputIntroduction') 项目介绍
                  .col-sm-10
                    textarea#inputIntroduction.form-control(rows='10', placeholder='请输入项目介绍')
                .form-group
                  label.col-sm-2.control-label(for='inputMarket') 市场情况
                  .col-sm-10
                    textarea#inputMarket.form-control(rows='10', placeholder='请输入市场情况')
                .form-group
                  label.col-sm-2.control-label(for='inputIntellectualProperty') 知识产权情况
                  .col-sm-10
                    textarea#inputIntellectualProperty.form-control(rows='10', placeholder='请输入知识产权情况')
                .form-group
                  label.col-sm-2.control-label(for='inputOther') 其他(可选)
                  .col-sm-10
                    textarea#inputOther.form-control(type='text', placeholder='请输入其他', required=false)
                .form-group
                  label.col-sm-2.control-label(for='inputKind') 分类
                  .col-sm-10
                    select#inputKind.form-control.select2(multiple='multiple', style='width=100%;')
                      option(value='cardiovascular') 心脑血管类药品
                      option(value='parkinson') 抗帕金森、老年痴呆类药品
                      option(value='gout') 抗痛风类药
                      option(value='digestive') 消化系统用药
                      option(value='antitumor') 抗肿瘤及辅助用药
                      option(value='diabetes') 降糖药
                      option(value='children') 儿童药
                      option(value='psychiatric') 抗精神类药
                      option(value='creative') 经皮系统给药
                      option(value='other') 其他
                .form-group
                  label.col-sm-2.control-label(for='inputCardiovasular') 心脑血管类药品分类
                  .col-sm-10
                    select#inputCardiovasular.form-control.select2(multiple='multiple', style='width=100%;')
                      option(value='anti_arrhythmic') 抗心律失常
                      option(value='antihypertensive') 抗高血压
                      option(value='anticoagulants') 抗凝药
                      option(value='lipid_lowering') 降脂药
              .box-footer
                button#delete-btn.btn.btn-danger(type='submit') 删除
                button#submit-btn.btn.btn-info.pull-right(type='submit') 提交
block js-external
  script(src='/plugins/select2/select2.full.min.js')
  script(src='/plugins/summernote/summernote.min.js')
  script(src='/plugins/summernote/summernote-zh-CN.js')
  script(src='/dashboard/js/product.js')
