extends layout
block css-external

block content
  .main-banner.prod
    .container
      h2
        span 组织结构
  .main-container
    .contact-content
      .row
        .col-sm-12
          img.img-responsive(src='/orgnizations/company_orgnization.png')


block js-external
