extends layout

block content
  .main-banner.three
    .container
      h2
        span 关于我们
  .breadcrumb
    .container
      ul.list-unstyled.list-inline
        li
          a(href='/') 首页
        li.active 关于我们
  .main-container
    .contact-info-box
      .row
        .col-md-5.col-xs-12.hidden-sm.hidden-xs
          .box-img
            img(src='front/images/contact/contact-info-box-img1.png', alt='Image')
        .col-md-6.col-xs-12.hidden-sm.hidden-xs
          .info-box
            h3 公司总部
            h5
              | 北京市海淀区中关村南大街2号科技会展中心1号楼B座20C1室
            .row
              h4.col-sm-6.col-xs-12
                i.fa.fa-phone
                |  010-62168816
              h4.col-sm-6.col-xs-12
                i.fa.fa-fax
                |  010-51626391
            h4
              | 邮件:
              a(href='mailto: ddld@ddld.com.cn')  ddld@ddld.com.cn
        .col-md-1.col-xs-12.hidden-sm.hidden-xs
    .contact-content
      .row
        .col-sm-6.col-xs-12
          .cblock-1
            span.icon-wrap
              i.fa.fa-car
            h4 公司总部
            ul.list-unstyled
              li 北京市海淀区中关村南大街2号科技会展中心1号楼B座20C1室
              li
                i.fa.fa-phone
                | 010-62168816
              li
                i.fa.fa-fax
                | 010-51626391
        .col-sm-6.col-xs-12
          .cblock-1
            span.icon-wrap
              i.fa.fa-balance-scale
            h4 研发中心
            ul.list-unstyled
              li 北京亦庄经济技术开发区科创十四街99号汇龙森科技园2幢301室
              li
                i.fa.fa-phone
                | 010-59755826
              li
                i.fa.fa-fax
                | 010-59755826转801