extends layout

block content
  .main-banner.three
    .container
      h2
        span 关于我们
    .breadcrumb
      .container
        ul.list-unstyled.list-inline
          li
            a(href='/') 首页
          li.active 关于我们
    .main-container
      .contact-info-box
        .row
          .col-md-5.col-xs-12.hidden-sm.hidden-xs
            .box-img
              img(src='front/images/contact/contact-info-box-img1.png', alt='Image')