// Footer Starts
footer.main-footer
  // Footer Area Starts
  .footer-area
    // Nested Container Starts
    .container
      .row
        // Company Information Starts
        .col-md-3.col-sm-4.col-xs-12
          h4 公司简介
          p
            | 大道隆达坐落于国家高新技术开发区北京中关村, 是集医药科学研究, 咨询服务和贸易于一体的高新技术企业. 公司主要从事医药领域的新药研发, 保健品开发, 医疗器械和保健品注册等科技咨询服务.
          ul.list-unstyled.address-list
            li.clearfix.address
              i.fa.fa-home
              | 北京市海淀区中关村南大街2号科技会展中心1号楼B座20C1室
            li.clearfix
              i.fa.fa-fax
              | 010-51626391
            li.clearfix
              i.fa.fa-phone
              | 010-62168816
            li.clearfix
              i.fa.fa-envelope
              a(href='mailto:ddld@ddld.com.cn') ddld@ddld.com.cn
        // Company Information Ends
        // Services Starts
        .col-md-2.col-sm-4.col-xs-12
          h4 网站地图
          ul.list-unstyled
            li
              a(href='/products/technology')
                i.fa.fa-angle-right
                | 技术转让
            li
              a(href='/products/product')
                i.fa.fa-angle-right
                | 产品招商
            li
              a(href='/products/material')
                i.fa.fa-angle-right
                | 原料研发
            li
              a(href='/news/company')
                i.fa.fa-angle-right
                | 公司动态
            li
              a(href='/news/industry')
                i.fa.fa-angle-right
                | 行业资讯
        // Services Ends
        // SNS Starts
        .col-md-3.col-sm-4.col-xs-12
          h4 社交网络动态
          ul.list-unstyled
            li
              i.fa.fa-weibo
              | 新产品上线
              a(href='#') http://t.co/xyz12abc
        // SNS Ends
        // Newsletter Starts
        .col-md-4.col-xs-12.newsletter-block
          h4 订阅邮件
          form.newsletter(action='#')
            .form-group
              input.form-control(placeholder='姓名', type='text')
            .form-group
              input.form-control(placeholder='电子邮箱', type='email')
            btn.btn.btn-lg.btn-block.btn-secondary(type='submit') 提交
        // Newsletter Ends
    // Nested Container Ends
  // Copyright Starts
  .copyright
    .container.clearfix
      p.pull-left
        | &copy; Copyright 2016. All Rights Reserved By
        span 大道隆达
      ul.list-unstyled.list-inline.pull-right
        li
          a(href='/terms') 服务条款
        li
          a(href='/privacy') 隐私条款
        li
          a(href='/about/contact') 联系我们
  // Copyright Ends
  // Footer Ends

