// Footer Starts
footer.main-footer
  // Copyright Starts
  .copyright
    .container.clearfix
      .col-sm-4
        p.pull-left
          | &copy; Copyright 2016. All Rights Reserved By
          span  大道隆达
      .col-sm-4.text-center
        p 京ICP备05043815号-1
        a(href='http://www.beian.gov.cn/portal/registerSystemInfo?recordcode=11010802025776')京公网安备11010802025776号
      .col-sm-4
        ul.list-unstyled.list-inline.pull-right
          li
            a(href='/sitemap.xml') 网站地图
          li
            a(href='/terms') 服务条款
          li
            a(href='/privacy') 隐私条款
          li
            a(href='/contact') 联系我们
  // Copyright Ends
  // Footer Ends
