// Header Starts
header.main-header
  // Nested Container Starts
  .container
    // Top Bar Starts
    .top-bar.hidden-sm.hidden-xs
      .row
        .col-sm-6.col-xs-12
          ul.list-unstyled.list-inline.pull-left
            li
              a(href='#') English
            li.active
              a(href='#') 中文
        .col-sm-6.col-xs-12
          ul.list-unstyled.list-inline
            li
              a(href='mailto:ddld@ddld.com.cn')
                i.fa.fa-envelope-o
                |  ddld@ddld.com.cn
            li
              i.fa.fa-phone
              | 联系电话: 010-62188816
            li
              a(href='/search')
                i.fa.fa-search
    // Top Bar Ends
    // Navbar Starts
    nav#nav.navbar.navbar-default(role='navigation')
      .container-fluid
        // Navbar Header Starts
        .navbar-header
          // Collapse Button Starts
          button.navbar-toggle(type='button', data-toggle='collapse', data-target='.navbar-collapse')
            span.sr-only Toggle Navigation
            span.icon-bar
            span.icon-bar
            span.icon-bar
          // Collapse Button Ends
          // Logo Starts
          a.navbar-brand(href='/')
            img.img-responsive(src='logo.png', style='width: 42px; height: 42px')
            span 大道隆达
          // Logo Ends
        // Navbar Header Ends
        // Navbar Collapse Starts
        .navbar-collapse.collapse
          ul.nav.navbar-nav.navbar-right
            li.home
              a(href="/") 首页
            li.intro
              a(href='/intro') 走进大道
            li.platform.dropdown
              a.dropdown-toggle(href='#', data-toggle='dropdown')
                | 技术平台
              ul.dropdown-menu(role='menu')
                li
                  a(href='/platform#collapse0') 手性药合成技术平台
                li
                  a(href='/platform#collapse1') 经皮给药技术平台
                li
                  a(href='/platform#collapse2') 儿童药物开发平台
                li
                  a(href='/platform#collapse3') 精神类药物开发平台
                li
                  a(href='/platform#collapse4') 一致性评价技术平台
            li.products.dropdown
              a.dropdown-toggle(href='#', data-toggle='dropdown')
                | 产品中心
              ul.dropdown-menu(role='menu')
                li
                  a(href='/products/transfer') 转让品种
                li
                  a(href='/products/merchant') 招商品种
            li.news
              a(href='/news')
                | 资讯中心
            li.contact
              a(href='/contact')
                | 关于我们
        // Navbar Collapse Ends
      // Navbar Headers Ends
    // Navbar Ends
  // Nested Container Ends
// Header Ends
