// Header Starts
header.main-header
  // Nested Container Starts
  .container
    // Top Bar Starts
    .top-bar.hidden-sm.hidden-xs
      .row
        .col-sm-2.col-xs-12
          ul.list-unstyled.list-inline.pull-left
            li.active
              a(href='#') 中文
            li
              #google_translate_element
        .col-sm-10.col-xs-12
          ul.list-unstyled.list-inline
            li
              a(href='mailto:ddld@ddld.com.cn')
                i.fa.fa-envelope-o
                |  ddld@ddld.com.cn
            li
              i.fa.fa-phone
              | 联系电话: 010-59755826-802
            li
              a(href='#', data-toggle='modal', data-target='#search-modal')
                i.fa.fa-search
              #search-modal.modal.fade(tabindex='-1', role='dialog', aria-labelledby='search-modal')
                .modal-dialog(role='document')
                  .modal-content
                    form#search-form(action='/search', method='POST')
                      .modal-body.clearfix
                        input.form-control(placeholder='输入搜索内容', type='text', name='q')
                        button.btn.btn-primary(type='submit')
                          i.fa.fa-search

    // Top Bar Ends
    // Navbar Starts
    nav#nav.navbar.navbar-default(role='navigation')
      .container-fluid
        // Navbar Header Starts
        .navbar-header
          // Collapse Button Starts
          button.navbar-toggle(type='button', data-toggle='collapse', data-target='.navbar-collapse')
            span.sr-only Toggle Navigation
            span.icon-bar
            span.icon-bar
            span.icon-bar
          // Collapse Button Ends
          // Logo Starts
          a.navbar-brand(href='/')
            ul.list-unstyled.list-inline
              li
                img.img-responsive(src='/front/images/logo.png', style='width: 40px; height: 40px')
              li
                span 大道隆达(北京)医药科技发展有限公司
          // Logo Ends
        // Navbar Header Ends
        // Navbar Collapse Starts
        .navbar-collapse.collapse
          ul.nav.navbar-nav.navbar-right
            li.home
              a(href="/") 首页
            li.intro
              a(href='/intro') 走进大道
            li.platform.dropdown
              a.dropdown-toggle(href='#', data-toggle='dropdown')
                | 技术平台
              ul.dropdown-menu(role='menu')
                li
                  a(href='/platform#collapse0') 手性药合成技术平台
                li
                  a(href='/platform#collapse1') 经皮给药技术平台
                li
                  a(href='/platform#collapse2') 儿童药物开发平台
                li
                  a(href='/platform#collapse3') 精神类药物开发平台
                li
                  a(href='/platform#collapse4') 一致性评价技术平台
            li.news
              a(href='/news')
                | 资讯中心
            li.products.dropdown
              a.dropdown-toggle(href='#', data-toggle='dropdown')
                | 产品中心
              ul.dropdown-menu(role='menu')
                li
                  a(href='/products/transfer') 转让品种
                li
                  a(href='/products/merchant') 招商品种
            li.contact
              a(href='/contact')
                | 关于我们
        // Navbar Collapse Ends
      // Navbar Headers Ends
    // Navbar Ends
  // Nested Container Ends
// Header Ends
