extends layout

block content
  // Slider Section Starts
  section.slider.clearfix
    #camera_wrap_1.camera_wrap.camera_white_skin
      // Slide 1 Starts
      div(data-src='front/images/slider/slider-img1.jpg')
        .camera_caption.fadeFromLeft.hidden-sm.hidden-xs
          h2
            span 大道无形, 智者天成
      // Slider 1 Ends
      // Slider 2 Starts
      div(data-src='front/images/slider/slider-img1.jpg')
        .camera_caption.fadeFromLeft.hidden-sm.hidden-xs
          h2 大道隆达
          h2
            | 提供新药研究为核心的
            span 多模式合作服务和技术平台
      // Slider 2 Ends
      // Slider 3 Starts
      div(data-src='front/images/slider/slider-img1.jpg')
        .camera_caption.fadeFromLeft.hidden-sm.hidden-xs
          h2 大道隆达
          h2
            | 是一家
            span 国际化, 标准化和规范化的高新科技企业
      // Slider 3 Ends
    // Slider Section Ends
    // Main Container Starts
    .main-container
      .row
        // Products Sections Starts
        section.col-md-6.col-xs-12
          .main-block1
            h2.main-heading1.lite 技术平台 & 产品中心
            h2.main-heading2 技术转让 & 产品招商
            // Products Carousel Starts
            #products-carousel.products-carousel.carousel.slide(data-ride='carousel')
              // Wrapper for Slides Starts
              .carousel-inner
                // Slide Starts
                .item.active
                  .row
                    .col-sm-6.col-xs-12
                      .products-box
                        img.img-responsive.img-center-sm.img-center-xs(src='front/images/news/news-thumb-img1.jpg', alt='Blog Image')
                        .inner
                          h5
                            a(href='#') 注射盐酸利托君
                          ul.list-unstyled.list-inline.product-meta
                            li
                              i.fa.fa-calendar
                              | 2016年1月15日
                            li
                              a(href='#')
                                i.fa.fa-comments-o
                                | 10
                          p
                            | 注射用盐酸利托君: 50mg; 100mg, 西林瓶, 每盒10支.
                          a.btn.btn-secondary(href='#')
                            i.fa.fa-arrow-circle-right
                            | 查看详情
                    .col-sm-6.col-xs-12
                      .products-box
                        img.img-responsive.img-center-sm.img-center-xs(src='front/images/news/news-thumb-img1.jpg', alt='Blog Image')
                        .inner
                          h5
                            a(href='#') 注射盐酸利托君
                          ul.list-unstyled.list-inline.product-meta
                            li
                              i.fa.fa-calendar
                              | 2016年1月15日
                            li
                              a(href='#')
                                i.fa.fa-comments-o
                                | 10
                          p
                            | 注射用盐酸利托君: 50mg; 100mg, 西林瓶, 每盒10支.
                          a.btn.btn-secondary(href='#')
                            i.fa.fa-arrow-circle-right
                            | 查看详情
                    // Slide Ends

                // Slide Starts
                .item
                   .row
                     .col-sm-6.col-xs-12
                       .products-box
                         img.img-responsive.img-center-sm.img-center-xs(src='front/images/news/news-thumb-img1.jpg', alt='Blog Image')
                         .inner
                           h5
                             a(href='#') 注射盐酸利托君
                           ul.list-unstyled.list-inline.product-meta
                             li
                               i.fa.fa-calendar
                               | 2016年1月15日
                             li
                               a(href='#')
                                 i.fa.fa-comments-o
                                 | 10
                           p
                             | 注射用盐酸利托君: 50mg; 100mg, 西林瓶, 每盒10支.
                           a.btn.btn-secondary(href='#')
                             i.fa.fa-arrow-circle-right
                             | 查看详情
                     .col-sm-6.col-xs-12
                       .products-box
                         img.img-responsive.img-center-sm.img-center-xs(src='front/images/news/news-thumb-img1.jpg', alt='Blog Image')
                         .inner
                           h5
                             a(href='#') 注射盐酸利托君
                           ul.list-unstyled.list-inline.product-meta
                             li
                               i.fa.fa-calendar
                               | 2016年1月15日
                             li
                               a(href='#')
                                 i.fa.fa-comments-o
                                 | 10
                           p
                             | 注射用盐酸利托君: 50mg; 100mg, 西林瓶, 每盒10支.
                           a.btn.btn-secondary(href='#')
                             i.fa.fa-arrow-circle-right
                             | 查看详情
                     // Slide Ends
              // Wrapper for Slides Ends
              // Controls Starts
              a.left.carousel-control(href='#products-carousel', role='button', data-slide='prev')
                span.fa.fa-angle-left(aria-hidden='true')
                span.sr-only 上一个
              a.right.carousel-control(href='#products-carousel', role='button', data-slide='next')
                span.fa.fa-angle-right(aria-hidden='true')
                span.sr-only 下一个
              // Controls Ends
        // Products Carousel Ends
        // Latest News Starts
        aside.col-md-6.col-xs-12
          .main-block1
            h2.main-heading1.lite 资讯中心
            h2.main-heading2 行业资讯 & 公司动态
            // Accordion Starts
            #accordion.panel-group
              // Accordion #1 Starts
              .panel
                // Panel Heading Starts
                .panel-heading
                  h5.panel-title
                    i.icon.fa.fa-newspaper-o
                    a(data-toggle='collapse', data-parent='#accordion', href='#collapse1')
                      | 谷歌创始人动用计算机算法对抗老年痴呆
                // Panel Heading Ends
                // Panel Body Starts
                #collapse1.panel-collapse.collapse.in
                  .panel-body
                    p
                      | 谷歌(微博)联合创始人谢尔盖·布林（Sergey Brin）经常练习跳水。“跳水这项运动短暂而剧烈，”他说。“可以马上提高心跳速率。”
                      | 但跳水对他来说还有另外一个好处。从家族遗传学的角度来看，布林患上帕金森症的风险很高，而每跳一次水，这种风险就会减少一点点。在布林身体的每个细胞内，12号染色体的LRRK2基因都存在一种基因突变，它与帕金森症的发病率关系密切。
                    a.btn.btn-sm.btn-transparent.inverse(href='/news/abc') 继续阅读
                // Panel Body Ends
              // Accordion #1 Ends
            // Accordion Ends
        // Latest News Ends
      // Company Introduction Section Starts
      section.company-intro
        .row
          .col-md-6.col-xs-12
            h2.main-heading1.lite 大道隆达(北京)医药科技发展有限公司
            p
              | 坐落于国家高新技术开发区北京中关村，是集医药科学研究、咨询服务、贸易于一体的高新技术企业。公司主要从事医药领域的新药开发、保健品开发、新药技术转让推广、临床监查，以及药品、医疗器械、保健品注册等科技咨询服务。
              br
              | 公司自2004年初成立以来，快速发展，完成药品研发及咨询服务项目几十个，与国内几十家大、中型企业合作，获得临床、生产批文几十个，申请专利二十几项。同时公司聘请医药界的资深专家作为顾问，并与一些大专院校、国家级科研院所形成紧密合作关系。
              br
              | 目前公司已拥有一支药学、医学、销售方面的高素质专业研发、咨询、销售队伍，现有员工近40人。公司业务随医药局势的发展不断进行多领域多渠道发展，在原有业务的基础上向参股工厂、自主研发品种委托加工销售等多领域迈进，逐渐形成产—研—销相结合的一体化健康发展模式。
          .col-md-6.col-xs-12(style='padding-right:45px;')
            img.img-responsive.img-style1(src='front/images/image1.jpg', alt='image')
      // Company Introduction Section Ends
    // Main Container Ends
    // Main Container Starts
    .main-container
      // Contact Box Starts
      .book-appointment-box
        .row
          .col-md-5.col-xs-12.text-center-sm.text-center-xs
            h4 欢迎致电咨询
            h3
              i.fa.fa-phone-square
              |  010-62188816
          .col-md-4.col-xs-12.text-center
            a.btn.btn-main.text-uppercase(href='/about/us') 查看更多联系方式
          .col-md-3.col-xs-12.hidden-sm.hidden-xs
            .box-img
              img(src='front/images/appointment-booking-img1.png')
      // Contact Box Ends
    // Main Container Ends