extends layout
block css-external
  link(rel="stylesheet", href="http://api.map.baidu.com/library/SearchInfoWindow/1.5/src/SearchInfoWindow_min.css")
  link(href='/front/stylesheets/partners.css', rel='stylesheet')
  link(rel='stylesheet', href='/front/stylesheets/intro.css')

block content
  .main-banner.one
    .container
      h2
        span 公司简介
  section.welcome-area.about
    h3.main-heading1 欢迎走进大道隆达
    h3.main-heading2 国际化,标准化,规范化的研发服务提供者
    .col-md-6.col-sm-12.col-xs-12.intro-video
      video#intro-video(src='http://www.html5videoplayer.net/videos/toystory.mp4', preload='meta', controls='controls') 您的浏览器不支持该视频播放
    p
      | 大道隆达（北京）医药科技发展有限公司是以专注药品、保健品、药用辅料等医药相关领域研发、技术服务为龙头的创新性企业。公司在北京博尔达生物技术发展有限公司的基础上发展走过了十五年，在经历了国家历次医药政策的调整和变化已走出自己独特的发展道路，围绕公司的发展业务，逐步形成了以大道隆达为核心，形成医药多渠道、多经营、多方向的集团性发展模式。公司专注自己的研发平台、延伸到自有产品的委托生产销售，并先后全资控股北京博尔达生物技术发展有限公司、相对控股天津中瑞药业股份有限公司、参股青岛圣邦药业有限公司。
    p
      | 公司位于北京亦庄经济开发区汇龙森科技园，下设项目管理部、合成室、制剂室、分析室，仿制药一致性评价中心，临床前药学研究均可独立完成。公司依托于北京亦庄经济技术开发区良好的行业创新环境和氛围，基于高素质的研发团队，本着打铁还靠自身硬的使命，以高效研发和特色技术平台建设为特点，致力于打造企业私人定制、特色研发服务平台、特色技术平台开发，药品一致性评价技术支持服务，成为国内医药及相关领域研发的国际化和标准化的提供者。
    p
      | 公司已形成自己一套严格的研发管理流程，秉承研发全过程GMP管理理念，实行计划、落实、监督、结果的四步标准工作原则。研发领先，力求创新，拥有先进的创新手性合成药物、口服制剂、贴剂、膜剂、注射剂的产业化技术及相关的设备平台，已获得创新技术发明授权专利10项，目前在申请相关领域的专利20余项，并将规范化、专业化、和国家的法规政策有效结合、向国际化接轨作为始终的目标，力求为员工、客户、合作者打造一条阳光、正义、和谐、发展、共赢的平台和环境，共赢天下。
    p
      | 公司从长远发展战略考虑，在新药开发中将原料药作为龙头，为制剂生产厂家解决原料无来源后顾之忧，2009年公司相对控股原料药生产企业天津中瑞药业股份有限公司，天津中瑞药业股份公司已于2014年2月在全国中小企业转让系统正式挂牌上市（代码：430645）为延伸公司产业链，健全制剂生产模块，2010年公司入股成立了青岛圣邦药业有限公司。
    p
      | 十五年的拼搏，公司目前是北京市高新技术企业、北京市企业科技研究开发机构、北京市专利试点单位、中关村高新技术企业协会会员；公司与国内多家高校、科研机构保持着广泛的合作，利用合作平台、聘请了药学、临床等专家作为公司的技术顾问，为公司的新药研发工作提供了强大的技术支持，与此同时，为国内多近百家知名大中型制药企业服务，为企业获得生产批件近170个，并与他们建立了长期稳定的合作关系，在业界获得了良好的合作信誉，为公司的可持续发展奠定了坚持的基础。
    p
      | 我们始终秉承“大道无形 智者天成”的初衷，本着敬业、负责、合作、共赢的经营模式和管理理念，公司将规范化、专业化、和国家的法规政策有效结合、向国际化接轨作为始终的目标，力求为员工、客户、合作者打造一条阳光、正义、和谐、发展和共赢的平台和环境，共赢天下； 我们拥有丰富药物研发和申报经验的技术人员。主要管理者参与组织研制、申报及转让品种多项，拥有强大的行业资源整合能力及丰富的实践经验，不断创新，持续前行，为客户、为患者、为医药事业贡献我们的力量！我们奉行着“以人为本，快乐工作”员工在严谨、规范的平台上努力工作实现自身的价值，与公司一起成长。
  section.about-featured.parallax
    .container
      h3.lite 经营理念
      h2.lite
        | 大道无形 智者天成
      ul.list-unstyled.list.row
        li.col-md-3.col-sm-6.col-xs-12
          i.fa.fa-heartbeat
          h4 敬业
          p
            | 乐意为工作做出个人牺牲，不仅是对他人、对公司的奉献，也是自己资本的积累；重视工作中的每个细节，结果源自细微的观察。
        li.col-md-3.col-sm-6.col-xs-12
          i.fa.fa-check
          h4 负责
          p
            | 把自己调整到一个合理的心态，踏踏实实地做人，做实事、做好事，梳理信念、感想敢拼搏，以诚待人，工整做事，努力虚心，成熟思考，积极行动，持之以恒。
        li.col-md-3.col-sm-6.col-xs-12
          i.fa.fa-gears
          h4 合作
          p
            | 將一件事分給多人去做，相互間保持密切的联络，放下态度，彼此尊重，放下利益，彼此平衡，放下性格，彼此成就，同一目标下，共同努力。
        li.col-md-3.col-sm-6.col-xs-12
          i.fa.fa-trophy
          h4 共赢
          p
            | 成功在于合作、合作共赢天下，感知责任、优质回报，力求使员工、客户、公司同一个目标携手共进,同一个梦想合作共赢。
  .main-container
    h2.main-heading2.nomargin-top 荣誉及成果
    .gallery-grid
      .row
        - for (var i = 0; i < images.length; i++)
          - var image = images[i]
          .col-md-4.col-sm-6.col-xs-12
            .hover-content
              img.img-responsive(src='#{image.thumbnail}')
              .overlay
                a.btn.btn-secondary.zoom(href='#{image.image}')
                  i.fa.fa-image
    h2.main-heading2.nomargin-top 合作伙伴
    #partners.portfolio
      .row
        .col-md-8
          .portfolio-item
            #partners-places.small-map
        .col-md-4
          #partners-panel
            table.table.table-hover
              tbody#partners-list

block js-external
  script(src='http://api.map.baidu.com/api?v=2.0&ak=Bdf0LKK08QFak6AD7ibhSSDt', type='text/javascript')
  script(type="text/javascript", src="http://api.map.baidu.com/library/SearchInfoWindow/1.5/src/SearchInfoWindow_min.js")
  script(type="text/javascript", src="http://api.map.baidu.com/library/CityList/1.2/src/CityList_min.js")
  script(src='front/javascripts/partners.js')
