extends layout
block css-external
  link(rel="stylesheet", href="http://api.map.baidu.com/library/SearchInfoWindow/1.5/src/SearchInfoWindow_min.css")
  link(rel='stylesheet', href='/plugins/mapsed/mapsed.css')
  link(rel='stylesheet', href='/front/stylesheets/intro.css')

block content
  .main-banner.one
    .container
      h2
        span 公司简介
  .breadcrumb
    .container
      ul.list-unstyled.list-inline
        li
          a(href='/') 首页
        li.active 走进大道

  div
    section.welcome-area.about
      .row
        .col-md-6.col-xs-12.about-col
          h3.main-heading1 欢迎走进大道隆达
          h3.main-heading2 国际化,标准化,规范化的研发服务提供者
          p
            | 大道隆达（北京）医药科技发展有限公司注册于北京中关村，专业从事药品、保健品、辅料等医药相关领域研发、生产、销售的创新性企业。公司在北京博尔达生物技术发展有限公司的基础上发展走过了十五年发展历程，在经历了国家历次医药政策的调整和变化已走出自己独特的发展道路，围绕公司的发展业务，逐步形成了以大道隆达为核心，形成医药多渠道、多经营、多方向的集团性发展模式。公司不仅拥有自己的研发平台、产品的委托生产销售平台，还先后全资控股北京博尔达生物技术发展有限公司、相对控股天津中瑞药业股份有限公司、参股青岛圣邦药业有限公司。
          p
            | 公司的研发平台依托于北京经济技术开发区良好的行业创新环境和氛围，基于高素质的研发团队，本着打铁还靠自身硬的使命，以高效研发和特色技术平台建设为特点，致力于打造企业私人定制、特色研发服务平台、特色技术平台开发，药品一致性评价技术支持平台，成为国内医药及相关领域研发的国际化和标准化的提供者。
          p
            | 研发平台形成自己一套严格的研发管理流程，秉承研发全过程GMP管理理念，实行计划、落实、监督、结果落实的四步标准工作原则。公司力求创新，拥有先进的创新手性合成药物、口服制剂、贴剂、膜剂、注射剂的产业化技术及相关的设备平台，已获得创新技术发明授权专利10项，目前在申请相关领域的专利20余项，公司将规范化、专业化、和国家的法规政策有效结合、向国际化接轨作为始终的目标，力求为员工、客户、合作者打造一条阳光、正义、和谐、发展和共赢的平台和环境，共赢天下。
          p
            | 十五年的拼搏，公司目前是北京市高新技术企业、北京市专业研发机构、北京市专利试点单位；与国内多家高校、科研机构保持着广泛的合作，聘请了药物化学、药物制剂、药物临床等专家作为公司的技术顾问，为公司的新药研发工作提供了强大的技术支持；与国内外合作企业超过百家；成功研发百余个项目，成为业内知名品牌企业。
          p
            | 十五年来，根据国家政策导向及市场需求，公司陆续建立了手性药物合成技术平台、精神类药物开发平台、创新制剂技术平台/经皮给药技术平台、儿童药开发平台、仿制药一致性评价技术支持平台等。
        .col-md-6.col-xs-12.intro-video
          video#intro-video(src='http://www.html5videoplayer.net/videos/toystory.mp4', autoplay, controls='controls', width='100%', height='100%') 您的浏览器不支持该视频播放
  section.about-featured.parallax
    .container
      h3.lite 经营理念
      h2.lite
        | 大道无形 智者天成
      ul.list-unstyled.list.row
        li.col-md-3.col-sm-6.col-xs-12
          i.fa.fa-heartbeat
          h4 敬业
          p
            | 乐意为工作做出个人牺牲，不仅是对他人、对公司的奉献，也是自己资本的积累；重视工作中的每个细节，结果源自细微的观察。
        li.col-md-3.col-sm-6.col-xs-12
          i.fa.fa-check
          h4 负责
          p
            | 把自己调整到一个合理的心态，踏踏实实地做人，做实事、做好事，梳理信念、感想敢拼搏，以诚待人，工整做事，努力虚心，成熟思考，积极行动，持之以恒。
        li.col-md-3.col-sm-6.col-xs-12
          i.fa.fa-gears
          h4 合作
          p
            | 將一件事分給多人去做，相互間保持密切的联络，放下态度，彼此尊重，放下利益，彼此平衡，放下性格，彼此成就，同一目标下，共同努力。
        li.col-md-3.col-sm-6.col-xs-12
          i.fa.fa-trophy
          h4 共赢
          p
            | 成功在于合作、合作共赢天下，感知责任、优质回报，力求使员工、客户、公司同一个目标携手共进,同一个梦想合作共赢。
  .main-container
    h2.main-heading2.nomargin-top 荣誉及成果
    .gallery-grid
      .row
        .col-md-4.col-sm-6.col-xs-12
          .hover-content
            img.img-responsive(src='front/images/certification/approved_document.jpg')
            .overlay
              a.btn.btn-secondary.zoom(href='front/images/certification/approved_document.jpg')
                i.fa.fa-image
        .col-md-4.col-sm-6.col-xs-12
          .hover-content
            img.img-responsive(src='front/images/certification/company_certification.jpg')
            .overlay
              a.btn.btn-secondary.zoom(href='front/images/certification/company_certification.jpg')
                i.fa.fa-image
        .col-md-4.col-sm-6.col-xs-12
          .hover-content
            img.img-responsive(src='front/images/certification/high_tech_certification.jpg')
            .overlay
              a.btn.btn-secondary.zoom(href='front/images/certification/high_tech_certification.jpg')
                i.fa.fa-image
    h2.main-heading2.nomargin-top 合作伙伴
    #partners.portfolio
      .container
        .row
          .col-md-10.col-md-offset-1
            .portfolio-item
              #partners-places.small-map



block js-externals
  script(src='http://api.map.baidu.com/api?v=2.0&ak=Bdf0LKK08QFak6AD7ibhSSDt', type='text/javascript')
  script(type="text/javascript", src="http://api.map.baidu.com/library/SearchInfoWindow/1.5/src/SearchInfoWindow_min.js")
  script(type="text/javascript", src="http://api.map.baidu.com/library/CityList/1.2/src/CityList_min.js")
  script(src='front/javascripts/partners.js')