doctype html
html(lang='zh')
  head
    meta(charset='utf-8')
    meta(http-equiv='X-UA-Compatible', content='IE=edge')
    meta(name='viewport', content='width=device-width, initial-scale=1.0')
    meta(name='description', content='大道隆达(北京)医药科技发展有限公司')
    meta(name='author', content='SkyStar Studio')
    meta(name='baidu-site-verification', content='6hT9nNL0as')
    title 大道隆达(北京)医药科技发展有限公司

    // CSS
    link(href='/plugins/bootstrap/stylesheets/bootstrap.min.css', rel='stylesheet')
    link(href='/plugins/font-awesome/css/font-awesome.min.css', rel='stylesheet')
    link(href='/plugins/camera/css/camera.css', rel='stylesheet')
    link(href='/plugins/magnific-popup/magnific-popup.css', rel='stylesheet')
    link(href='/plugins/bootstrap/stylesheets/responsive.css', rel='stylesheet')
    link(href='/front/stylesheets/style.css', rel='stylesheet')
    script(src='/front/javascripts/baidu-analysis.js')
    block css-external

  body
    #wrapper.container
      include header
      block content
      include footer
    script(src='/plugins/jQuery/jquery-1.11.3.min.js')
    script(src='/plugins/jQuery/jquery-migrate-1.2.1.min.js')
    script(src='/plugins/bootstrap/javascripts/bootstrap.min.js')
    script(src='/plugins/camera/js/jquery.mobile.customized.min.js')
    script(src='/plugins/camera/js/jquery.easing.1.3.js')
    script(src='/plugins/camera/js/camera.min.js')
    script(src='/plugins/shuffle/jquery.shuffle.modernizr.min.js')
    script(src='/plugins/magnific-popup/jquery.magnific-popup.min.js')
    script(src='/front/javascripts/custom.js')
    block js-external
