#modal-shortcut-list.flap-stage.cf.rightpos.fixedonscroll

script#shortcut-template(type="text/html")
  .flap-little
    .flap-little-inner
      h3.flap-title
      .flap-description
    .flap-footer
      a.flap-close(href='#') 关闭

script#modal-template(type="text/html")
  .modal.fade(tabindex='-1', role='dialog')
    .modal-dialog(role='document')
      .modal-content
        .modal-header
          button.close(type='button', data-dismiss='modal', aria-label='Close')
            span(aria-hidden='true') ×
          h4.modal-title
        .modal-body
        .modal-footer
          button.btn.btn-secondary(type='button')