extends layout

block content
  .main-banner.six
    .container
      h2
        span 技术平台
  .breadcrumb
    .container
      ul.list-unstyled.list-inline
        li
          a(href='/') 首页
        li.active 技术平台
  .main-container
    h3.main-heading2.nomargin-top 技术平台介绍
    br
    p
      | 我们的研发平台有着自己一套严格的研发管理流程，秉承研发全过程GMP管理理念，实行计划、落实、监督、结果落实的四步标准工作原则。公司力求创新，拥有先进的创新手性合成药物、口服制剂、贴剂、膜剂、注射剂的产业化技术及相关的设备平台，已获得创新技术发明授权专利10项，目前在申请相关领域的专利20余项，公司将规范化、专业化、和国家的法规政策有效结合、向国际化接轨作为始终的目标，力求为员工、客户、合作者打造一条阳光、正义、和谐、发展和共赢的平台和环境，共赢天下。
    #accordion-faqs.panel-group
      - for (var i = 0; i < platforms.length; i++)
        - var platform = platforms[i]
        .panel
          .panel-heading
            h5.panel-title
              a(data-toggle='collapse', data-parent='#accordion-faqs', href='#collapse#{i}')
                span.fa.fa-minus.pull-right
                | #{platform.name}
          - var id = 'collapse' + i
          div.panel-collapse.collapse(id='#{id}')
            .panel-body
              p
                | #{platform.intro}
block js-external
  script(src='/front/javascripts/platform.js')