// Site Links Start
.sitelinks
	.container
		.col-sm-15
			h6.title 官方网站
			ul.links
				li
					a(src="http://www.sda.gov.cn/WS01/CL0001/") 国家食品药品监督管理局
				li
					a(src="http://www.fda.gov/") FDA
				li
					a(src="http://www.ema.europa.eu/ema/") EMA
				li
					a(src="http://www.pmda.go.jp/") PMDA
		.col-sm-30
			.row
				.col-xs-12
					h6.title 合作院所
				.col-sm-6
					ul.links
						li
							a(src="http://www.syphu.edu.cn/") 沈阳药科大学
						li
							a(src="http://www.cpu.edu.cn/") 中国药科大学
						li
							a(src="http://http://www.bucm.edu.cn/") 北京中医药大学
						li
							a(src="http://www.tju.edu.cn/") 天津大学
						li
							a(src="http://www.nankai.edu.cn/") 南开大学
				.col-sm-6
					ul.links
						li
							a(src="http://www.pku.edu.cn/") 北京大学
						li
							a(src="http://www.imm.ac.cn/") 中国医学科学院药物研究所
						li
							a(src="http://www.bmi.ac.cn/") 军事医学科学院
						li
							a(src="http://www.ytu.edu.cn/") 烟台大学
						li
							a(src="http://www.bec.buu.edu.cn/") 北京联合大学生物化学工程学院
		.col-sm-30
			.row
				.col-xs-12
					h6.title 药检所
				.col-sm-6
					ul.links
						li
							a(src="http://www.bidc.org.cn/") 北京市药检所
						li
							a(src="http://www.sdifdc.org.cn/") 山东省药检所
						li
							a(src="http://www.sifdc.org.cn/") 上海市药检所
						li
							a(src="http://www.tjyjs.org/") 天津市药检所
						li
							a(src="http://www.sxyj.org.cn/") 山西省药检所
				.col-sm-6
					ul.links
						li
							a(src="http://wmdw.jswmw.com/") 江苏省药检所
					//	li
					//		ul.license-num
					//			h6.title 备案号
					//			li 京ICP备05043815号-1

// Site Links End