extends layout

block content
  .main-banner.prod
    .container
      h2
        span 转让产品
  .main-container
    ul#products-filter.list-unstyled.list-inline
      li
        a.active(href='#', data-group='all') 所有转让产品
    ul#products-grid.row.grid
      - for (var i = 0; i < products.length; i++)
        - var product = products[i]
        li.col-md-4.col-sm-6.col-xs-12.products-grid(data-groups='["all"]')
          .product-box
            .inner
              .title
                .vc-title-wrapper
                  .vc-title
                    .limit-line.two
                      h4 #{product.name}
              .limit-line.six
                .limit-line.two
                  p.designation #{product.name_co}
                p.divider
                  i.fa.fa-plus-square
                p.limit-line.four
                  | #{product.abstract}
            a.btn.btn-secondary(href='/products/detail/transfer/#{product.id}')
              | 查看详情 
              i.fa.fa-arrow-circle-right
