extends layout

block content
  .main-banner.five
    .container
      h2
        span 转让产品
  .breadcrumb
    .container
      ul.list-unstyled.list-inline
        li
          a(href='/') 首页
        li 产品中心
        li.active 转让产品
  .main-container
    ul#products-filter.list-unstyled.list-inline
      li
        a.active(href='#', data-group='all') 所有转让产品
    ul#products-grid.row.grid
      - for (var i = 0; i < products.length; i++)
        - var product = products[i]
        li.col-md-4.col-sm-6.col-xs-12.products-grid(data-groups='["all"]')
          .product-box
            .inner
              h4 #{product.name}
              p.designation #{product.name_co}
              p.divider
                i.fa.fa-plus-square
              p
                | #{product.detail}
