.animated {
  -webkit-animation-duration: .2s;
  animation-duration: .2s;
}

.animated.flipOutX,
.animated.flipOutY {
  -webkit-animation-duration: .18s;
  animation-duration: .18s;
}

.no-padding {
  padding: 0;
}

.portfolio ul {
  list-style: none;
}

.flip {
  padding-top: 27%;
  position: relative;
  width: 100%;
}

.flip a {
  display: block;
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
}

.flip .front {
  display: block;
}

.flip .back {
  display: table;
}

.flip .front,
.flip .back {
  height: 100%;
  line-height: 100%;
  position: relative;
  text-align: center;
  width: 100%;
}

.flip .back:before {
  content: '';
  display: inline-block;
  height: 100%;
  vertical-align: middle;
  margin-right: -0.25em; /* Adjusts for spacing */
}

.flip .back span {
  display: table-cell;
  vertical-align: middle;
  text-align: center;
}

.hidden { display: none; }
// .flip:hover .front {
//   display: none;
// }

// .flip:hover .back {
//   display: inline-block;
// }

.small-map {
  width: 100%;
  height: 700px;
  margin: 0 auto 15px auto;
  box-shadow: 10px 10px 15px 0px #ccc;
}
.map-container {
  margin: 20px;
}

#partners-places {
	height: 700px;
	widows: 100%;
}

.mapsed-add-info h4 {
  margin: 0;
  padding: 0;
}

#l-map {
  width:100%;
  height:500px;
  overflow: hidden;
}
#result{
  width:100%;
}
li{
  line-height:28px;
}
.cityList{
  height: 320px;
  width:372px;
  overflow-y:auto;
}
.sel_container{
  z-index:9999;
  font-size:12px;
  position:absolute;
  right:0px;
  top:0px;
  width:140px;
  background:rgba(255,255,255,0.8);
  height:30px;
  line-height:30px;
  padding:5px;
}
.map_popup {
  position: absolute;
  z-index: 200000;
  width: 382px;
  height: 344px;
  right:0px;
  top:40px;
}
.map_popup .popup_main {
  background:#fff;
  border: 1px solid #8BA4D8;
  height: 100%;
  overflow: hidden;
  position: absolute;
  width: 100%;
  z-index: 2;
}
.map_popup .title {
  background: url("http://map.baidu.com/img/popup_title.gif") repeat scroll 0 0 transparent;
  color: #6688CC;
  font-weight: bold;
  height: 24px;
  line-height: 25px;
  padding-left: 7px;
}
.map_popup button {
  background: url("http://map.baidu.com/img/popup_close.gif") no-repeat scroll 0 0 transparent;
  cursor: pointer;
  height: 12px;
  position: absolute;
  right: 4px;
  top: 6px;
  width: 12px;
}

#partners-list-wrapper {
  position:absolute;
  left:0px;
  right:0px;
  top:0px;
  bottom:41px;
  overflow:auto;
}
