
.center {
	display: block;
	text-align: center;
	margin: 0 auto;
}

.camera_caption > div {
	background: transparent;
	-webkit-box-shadow: none;
    -moz-box-shadow: none;
	box-shadow: none;
	padding: 0;
}

.circle {
	background: #fff;

  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  border-radius: 50%;

  -webkit-box-shadow: 8px 8px rgba(0, 0, 0, 0.1);
	-moz-box-shadow: 8px 8px rgba(0, 0, 0, 0.1);
	box-shadow: 8px 8px rgba(0, 0, 0, 0.1);
  
	float: right;
	max-width: 270px;
	overflow: hidden;
	position: relative;

  behavior: url(../../plugins/pie/PIE.htc);
  
}

/* circle position */
.circle {
	right: 10%;
	top: 30%;
	width: 45%;
}

.circle:before {
	content: "";
	display: block;
	padding-top: 100%;
}

.circle-content {
	bottom: 0;
	padding: 15%;
	position: absolute;
	left: 0;
	right: 0;
	top: 0;
}

.circle-content h2 {
	color: #009bdb;
}

.circle-content hr {
	border-top: 3px solid #d9d9d9;
	left: -50%;
	position: relative;
	width: 200%;
}

.circle-content p {
	font-size: 20px;
	margin-top: 15px;
	margin-bottom: 15px;
	color: #404040;

	-webkit-animation-delay: .5s;
	animation-delay: .5s;
}
